@use '../../global.scss' as *;

@mixin input {
  outline: none;
  padding: 0.7rem;
  min-width: 18rem;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  &:focus {
    border: 1px solid #9d9d9d;
  }
}

@mixin button {
  padding: 0.5rem;
  font-weight: 700;
  background: #84a1e6;
  color: white;
  border: none;
  border-radius: 0.2rem;
  letter-spacing: 1px;
  font-size: 1rem;
  transition: all linear .2s;
  cursor: pointer;
  &:hover {
    background: #547ddd;
  }
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  &>div {
    background: white;
    padding: 1.5rem 3rem;
    border-radius: 0.25rem;
    box-shadow: 1px -1px 10px #5d63f7, -1px 1px 10px #42de95;
    text-align: center;
    img {
      height: 10rem;
    }
    h1 {
      text-align: center;
      font-size: 2.5rem;
      margin-top: 0rem;
    }    
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      input {
        @include input
      }
      &>div {
        display: flex;
        gap: 1rem;
      }
      &>.password {
        position: relative;
        display: flex;
        input {
          @include input;
          width: 100%;
        }
        span {
          position: absolute;
          top: 0.75rem;
          right: 1rem;
          cursor: pointer;
          svg {
            font-size: 1.3rem;
          }
        }
      }
      button {
        @include button
      }
      p {
        margin: 0;
      }
    }
  }
}